.container {
  padding: 1rem; 
  margin-bottom: 1rem;
}

.kategoriBaslik {
  font-size: 1.5rem; 
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.kategoriListesi {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
}

.kategoriItem {
  position: relative;
  overflow: hidden;
}


.kategoriItemFull {
  width: 100%;
}

.kategoriItemHalf {
  width: calc(50% - 0.5rem);
}

.kategoriItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}


/* Mobil Görünüm */
@media (max-width: 767px) { 
  .container {
    padding: 0.5rem; 
    margin-bottom: 0.5rem;
  }
  .kategoriBaslik {
    font-size: 1.3rem; 
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  .kategoriListesi {
    gap: 1rem; 
  }
  .kategoriItem {
    width: 100% !important;
  }

  .kategoriItem img {
    width: 100%;
    height: auto;
  }
}
