.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 4rem;
  position: fixed;
  top: 0; /* Üstten mesafeyi sıfır yapar */
  left: 0; /* Soldan sıfır */
  width: 100%; /* Tam genişlik */
  z-index: 1000; /* Üstte görünmesini sağlar */
  border-bottom: 1px solid #D9D9D9;
  background-color: #fff;
}


.logoContainer {
  font-size: 1.5rem;
  font-weight: 900; /* Daha kalın yazı tipi */
}

.hamburgerContainer {
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(29, 29, 31);
}

.itemContainer {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.itemContainer p{
  font-weight: 600;
}

.itemContainer p:hover {
  color: #1D64F2; /* Hafif renk değişimi */
}

.menuItem {
  position: relative;
}

.menuItem p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  color: rgb(29, 29, 31);
  font-size: 1rem;
  transition: color 0.2s ease;
}

/* Hafif Hover efekti */
.menuItem p:hover, .mobileMenuContent p:hover {
  color: #1D64F2; /* Hafif renk değişimi */
}

.dropdown {
  display: none;
  position: absolute;
  top: 10;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); /* Stronger shadow for better definition */
  border-radius: 0.75rem;
  overflow: hidden;
  z-index: 1000;
  min-width: 15rem;
  padding-left: 2rem;
}

.menuItem:hover .dropdown {
  display: block;
}

.dropdown p {
  display: block;
  text-decoration: none;
  color: rgb(29, 29, 31);
  transition: color 0.2s ease;
  font-weight: normal;
}

/* Hafif Hover efekti */
.dropdown p:hover {
  color: #1D64F2; /* Hafif renk değişimi */
}

/* Mobil Menü */
.mobileMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.mobileMenuContent {
  background-color: rgb(245, 245, 247);
  width: 100%;
  height: 100vh;
}

.mobilMenuItemContainer {
  margin: 0 5%;
  max-height: 85vh;
  overflow-y: auto;
  
}

/* Scrollbar için */
.mobilMenuItemContainer::-webkit-scrollbar {
  width: 0.2rem; /* Kaydırma çubuğunun genişliği */
}

.mobilMenuItemContainer::-webkit-scrollbar-thumb {
  background-color: #888; /* Kaydırma çubuğu rengi */
  border-radius: 0.5rem; /* Yuvarlatılmış köşeler */
}

.mobilMenuItemContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover'daki renk */
}





.closeIconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 4rem;
}

.mobileMenuContent p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.75rem 0;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  border-bottom: 1px solid #dbdbdb;
  transition: color 0.2s ease;
}

/* Hafif Hover efekti */
.mobileMenuContent p:hover {
  color: #1D64F2; /* Hafif renk değişimi */
}

.mobileMenuContent p svg {
  font-size: 1rem;
  margin-left: 0.5rem;
}

/* Additional style for "İlaçlar" and "Besin Takviyeleri" dropdown arrows */
.menuItem p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItem p svg {
  font-size: 0.8rem;
  margin-left: 0.4rem;
  color: rgb(29, 29, 31);
}

.mobileMenuContent p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 767px) {

  .navbarContainer {
    padding: 0 5%;
    height: 3.5rem;
  }

  .logoContainer {
    font-size: 1.25rem;
    font-weight: 800;
  }

  .closeIconContainer{
    padding: 0 5%;
    height: 3.5rem;
  }
  .hamburgerContainer {
    font-size: 1.25rem;
    
  }
  .mobileMenuContent p {
    font-size: 1rem;
  }
  

  .itemContainer p {
    font-weight: 550;
    font-size: 0.9rem;
  }
}  