/* Genel stil ayarları */
.container {
  display: flex;
  flex-direction: column;

  width: 100%;

}

.header {
  background-color: #007bff;
  padding: 15px; /* Daha estetik bir görünüm için azaltıldı */
  text-align: center;
  color: white;
  border-radius: 10px; /* Köşeleri yuvarlatıldı */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Hafif gölge eklendi */
}

.date {
  font-size: 1.5em;
  margin: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcomeSection, .statsSection {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.welcomeTitle {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.taskGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.taskCard {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.taskCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.taskCard h3 {
  font-size: 1.2em;
  color: #555;
  margin: 15px 0;
}

.icon {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.statsSection {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.statCard {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.statCard1 {
  background-color: #007bff;
}

.statCard2 {
  background-color: #28a745;
}

.statCard3 {
  background-color: #dc3545;
}

.statCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.statCard h3 {
  font-size: 2.5em;
  margin: 0;
}

.statCard p {
  margin: 10px 0 0;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .taskCard, .statCard {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .taskCard, .statCard {
    flex: 1 1 100%;
  }
}
